<form method="post" action="{{ path('custom_data_delete', {'id': custom_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ custom_datum.id) }}">
    <button class="btn">Delete</button>
</form>
