{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="col-md-5 ">
        <p>2 Factor Code</p>
        <img id="imageQRcode" src="{{ qrCode }}" height="400px" width="400px" alt="QR Code" name="imageQRcode" />
    </div>
    </div>


{% endblock %}
